header {
    background-color: #e63946;
    color: #ffffff;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.titulo img {
    width: 120px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
}

#tituloPagina {
    font-size: 2.5em;
    font-family: 'Arial', sans-serif;
    color: #f1faee;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

nav {
    display: flex;
    gap: 25px;
    margin-top: 10px;
}

nav span {
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f1faee;
    color: #e63946;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: #f1faee;
    color: #e63946;
    transform: scale(1.05);
    cursor: pointer;
}

.icono-desplegable {
    display: none;
}

#menu-toggle{
    display: none;
}

a {
    text-decoration: none;
}

@media (max-width: 900px) {
    .icono-desplegable {
        display: block;
        width: 70px;
        filter: brightness(2) invert(0);
        mix-blend-mode: multiply;
        flex-direction: column;
        background-color: black;
        gap: 10px;
        cursor: pointer;
        position: absolute;
        left: 10px;
        top: 80px;
    }

    .titulo {
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
    }

    #tituloPagina {
        font-size: 2em;
    }

    nav {
        display: none;
        position: absolute;
        left: 15px;
        top: 130px;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: left;
        align-items: flex-start;
        padding: 10px;
        gap: 20px;
        border-radius: 5px;
    }

    nav a:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .titulo {
        flex-direction: column;
        align-items: center;
    }

    #menu-toggle:checked ~ nav{
        display: flex;
    }

    nav span {
        padding: 8px 10px;
    }

}

@media (max-width: 600px) {
    #tituloPagina {
        font-size: 1.5em;
    }

    .titulo img {
        width: 100px;
    }
}